<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Upid:</b>
  <%= @user.upid %>
</p>

<p>
  <b>Date Joined:</b>
  <%= @user.created_at %>
</p>

<%= link_to 'Back', users_path %>
