<%= form_for(@rating, html: {
class: "form-horizontal"
}) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :score, class:'control-label' %>
    <div class="controls">
      <label class="radio inline">
        <%= f.radio_button(:score, 1) %>
        <%= f.label(:score, "1") %>
      </label>
      <label class="radio inline">
        <%= f.radio_button(:score, 2) %>
        <%= f.label(:score, "2") %>
      </label>
      <label class="radio inline">
        <%= f.radio_button(:score, 3) %>
        <%= f.label(:score, "3") %>
      </label>
      <label class="radio inline">
        <%= f.radio_button(:score, 4) %>
        <%= f.label(:score, "4") %>
      </label>
      <label class="radio inline">
        <%= f.radio_button(:score, 5) %>
        <%= f.label(:score, "5") %>
      </label>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_id, "User", class: 'control-label' %>
    <div class="control">
      <%= f.collection_select :user_id, User.all, :id, :name %>
      <%= link_to "New User", new_user_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :movie_id, "Movie", class: 'control-label' %>
    <div class="control">
      <%= f.collection_select :movie_id, Movie.all, :id, :name %>
      <%= link_to "New Movie", new_movie_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
